<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <mongo:mongo host="localhost" port="27017" />
    <mongo:db-factory dbname="LetsMine" />
    
    
   
   <bean id="TwitterCollector" class="com.mycompany.letsmine.TwitterCollector">
       <property name="consumerKey" value="hAdjsGaCHIxVlxmkh3kwu3v3D"/>
       <property name="consumerSecret" value="vr8RwBl5Ry42gnReysvGYTMJtr2kmMkcMFgype7ih1jAnnCVn0"/>
       <property name="accessToken" value="53678997-qI0CgAlJNf4vbukF5g7nna9E50EV5BLiEop3iPpZ2"/>
       <property name="accessTokenSecret" value="4uXUK3Lq7X4a02HjuNAiBcO1p4hSJGtDaiwgSG4BkYaAc"/>
   </bean>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
            <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>
    
    <bean id="User" class="com.mycompany.letsmine.model.User"/> 
    
    <bean id="MongoUser" class="com.mycompany.letsmine.model.User">
        <property name="username" value="mkyong"/>
        <property name="password" value="password123"/>
    </bean> 
    
    <bean id="TweetDataService" class="com.mycompany.letsmine.service.impl.TweetDataServiceImpl"/> 
    <bean id="CollectorThreadService" class="com.mycompany.letsmine.service.impl.CollectorThreadServiceImpl"/>  
    <bean id="AnalyticsTagCloudService" class="com.mycompany.letsmine.service.impl.AnalyticsTagCloudServiceImpl"/>  
    
    
</beans>